
      <div class="background-image d-flex flex-column justify-content-center align-items-center text-white">
        <div class="container mt-5">
            <div class="text-center mb-4 text-muted">
                <h1 class="display-4">La santé est la première des libertés, et la plus chère des richesses<P>Henri-Frédéric Amiel</P></h1>
                <!-- Conteneur pour l'image et le paragraphe -->
                <div class="d-flex align-items-center mt-4">
                    <!-- Image à gauche -->
                    <img src="https://th.bing.com/th/id/R.b863c937af7cd9f1de79a0cf6f5879f7?rik=9vTLXWJa0HhmZA&riu=http%3a%2f%2fwww.presidio.co.in%2fimg%2fhome%2findustries%2fhealthcre-ind.jpg&ehk=1DaEOyaXnDS8d9Yg3EcyudcpTo1FQomU8Ji1J8LxLcM%3d&risl=&pid=ImgRaw&r=0" alt="Logo Santé" class="img-fluid me-4" style="max-width: 500px; max-height: 500px;  margin-right: 30px;" class="img">
                   
                    <!-- Paragraphe à droite -->
                    <p class="lead text-start">
                      Dans un monde de plus en plus connecté, prendre soin de sa santé n'a jamais été aussi accessible. Notre plateforme de suivi de l'état de santé à distance permet aux patients et aux professionnels de la santé de rester connectés en temps réel. Avec des outils innovants et une interface intuitive, nous facilitons le suivi des soins et des traitements pour améliorer la qualité de vie de chaque utilisateur, où qu'il soit.
                    </p>
                </div>
              </div>

      
    <div class="row">
    
      <p class="h1">Vivre Sain </p>
      <hr class="h2">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 shadow-sm ">
            <div class="card-body text-center d-flex flex-column justify-content-center">
            <a routerLink="/tasks/mental" class="text-decoration-none card-body ">
              <h2 class="card-title">Santé Mentale</h2><img src="https://th.bing.com/th/id/OIP.7P4nk4Mwi67R0d0qN6qASwHaHa?rs=1&pid=ImgDetMain" alt="Santé Mentale" class="card-img-top card-background ">
            </a>
            </div>
          </div>
        </div>
      
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 shadow-sm ">
            <div class="card-body text-center d-flex flex-column justify-content-center">
            <a routerLink="/tasks/fitness" class="text-decoration-none card-body ">
              <h2 class="card-title">Fitness & Exercice</h2><img src="https://th.bing.com/th/id/OIP.haTrXOcMDquU1niEfFgoqQAAAA?w=350&h=429&rs=1&pid=ImgDetMain"class="card-img-top card-background ">
            </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 shadow-sm ">
            <div class="card-body text-center d-flex flex-column justify-content-center">
            <a routerLink="/tasks/diet" class="text-decoration-none card-body ">
              <h2 class="card-title">Gestion de Régime</h2><img src="https://th.bing.com/th/id/R.a9ee8efe58bf4e2bade799c25163c7f0?rik=3CPbkfs6hzilSg&riu=http%3a%2f%2fdrsusanroets.com%2fcdn%2fshop%2farticles%2fIF_post_1200x1200.jpg%3fv%3d1576077902&ehk=tiTsOOENCFhUdzCBQeJOOXvnSxo5ci65o1QnPx2hC8E%3d&risl=&pid=ImgRaw&r=0"class="card-img-top card-background ">
            </a>
            </div>
          </div>
        </div>
  

    </div>
  

  
</div></div>