.bottom-bar {
    background-color: #f8f9fa; /* Couleur de fond */
    padding: 10px;
    text-align: center;
position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd; /* Bordure supérieure */
  }
  
  .bottom-bar a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none;
  }
  
  .bottom-bar a:hover {
    text-decoration: underline;
  }
  