<nav class="navbar navbar-expand-lg bg-body-tertiary navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://th.bing.com/th/id/R.d6a6f032e477415e582a4119976aad0f?rik=UDB52Knkby7zig&pid=ImgRaw&r=0" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
        SantéConnect
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accuille</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact-us">Connectez-nous</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Santé et Bien-être
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/tasks/mental">Santé Mentale</a></li>
            <li><a class="dropdown-item" href="/tasks/fitness">Fitness et Exercice</a></li>
            <li><a class="dropdown-item" href="/tasks/diet">Régime</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Autre</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/doctor">Trouver un Médecin</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Se connecter</a>
        </li>
        <li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            
          </form>
        </li>
      </ul>
   
    </div>
  </div>
</nav>



